@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


<h4>Alexander Kowalskyi</h4>
<p>
	phone: 0631089758<br />
	mail: <a href="alex.kowalskiy@gmail.com">alex.kowalskiy@gmail.com</a>
</p>
<p>
	About myself: <br />
	I like to solve interesting tasks and learn cutting-edge tecnologies.
</p>
